@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 
  
:root  {
  --font-sans: 'Inter', sans-serif;
  --background: 290 63% 95%;
  --foreground: 290 5% 0%;
  --card: 290 50% 90%;
  --card-foreground: 290 5% 10%;
  --popover: 290 63% 95%;
  --popover-foreground: 290 95% 0%;
  --primary: 290 54% 14%;
  --primary-foreground: 0 0% 100%;
  --secondary: 290 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 252 30% 85%;
  --muted-foreground: 290 5% 35%;
  --accent: 252 30% 80%;
  --accent-foreground: 290 5% 10%;
  --destructive: 0 63% 30%;
  --destructive-foreground: 290 5% 90%;
  --border: 290 30% 50%;
  --input: 290 30% 18%;
  --ring: 290 54% 14%;
  --radius: 0.75rem;
}
.dark  {
  --background: 290 50% 5%;
  --foreground: 290 5% 90%;
  --card: 290 50% 0%;
  --card-foreground: 290 5% 90%;
  --popover: 290 50% 5%;
  --popover-foreground: 290 5% 90%;
  --primary: 290 54% 14%;
  --primary-foreground: 0 0% 100%;
  --secondary: 290 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 252 30% 15%;
  --muted-foreground: 290 5% 60%;
  --accent: 252 30% 15%;
  --accent-foreground: 290 5% 90%;
  --destructive: 0 63% 30%;
  --destructive-foreground: 290 5% 90%;
  --border: 290 30% 18%;
  --input: 290 30% 18%;
  --ring: 290 54% 14%;
  --radius: 0.75rem;
}


  

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}